@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager

// Device Breakpoints
$phone: 600px;
$tab-port: 900px;
$tab-land: 1200px;
$big-desk: 1800px;

@mixin respond($breakpoint) {
  @if $breakpoint <= $tab-land {
    // 1rem AND 1em in media query definition are always equal to default browser font-size (-> 16px)
    // recommendation: em is best unit for media query after some experiences;
    // max-width is calculated based on passed-in breakpoint and default browser font-size (-> 16px)
    @media (max-width: calc(calc($breakpoint / 16px) * 1em)) {
      // @content contains all childs, so media query mixin acts like wrapper
      @content;
    }
  } @else {
    // for big desktops, min-width is needed
    @media (min-width: calc(calc($breakpoint / 16px) * 1em)) {
      @content;
    }
  }
}
